* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font: normal;
    font-size: 15pt;
    color: black;
    background-color: white;

}

.navegacao{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 5px solid blue;
}

.navegacao nav{
    display: flex;
    gap: 5px;
}


.navegacao img{
   height: 80px;
   width: 280px;
}

.navegacao a{
    font-size: 20px;
    colo: black;

}

a:hover{
    text-decoration: underline;
    color: rgba(63, 101, 182, 0.925)
}

.principal{
    padding-bottom: 20px;
}

.principal-img{
    background-color: rgb(241, 241, 241);
}

.imagem-fundo-principal{
    display: block;
    margin: auto;
    width: 1230px;
    height: 600px;
}

.principal-texto{
    padding-top: 25px;
    margin-left: 335px;
    margin-right: 335px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
    padding-top: 24px;
    padding-bottom: 40px;
}

.texto-home-principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.texto-footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}


