{% extends 'base.html' %}
{% block css %}href="{{url_for('static', filename='./css/quem-somos.css')}}"{% endblock %}
{% block titulo %}Quem-somos{% endblock %}


{% block conteudo %}
    <main class="principal">
        <div class="principal-cima">
            <h1>Quem Somos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quibusdam beatae, quisquam eligendi, enim eius numquam ullam animi
            sit fugit quam consectetur cum voluptate obcaecati error ab iure adipisci recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat numquam sequi p
            laceat consequatur nisi provident incidunt neque consectetur itaque voluptatem reprehenderit id amet libero vel ad, sint at officia eum. Lorem ipsum dolor sit amet consectetur ad
            pisicing elit. Quisquam vitae, quaerat officia iure eius voluptatum excepturi. Reprehenderit, quisquam sequi? Ea cum nihil doloribus esse odio, expedita labore cumque fuga facilis?</p>
            <h1>5 Motivos para estudar</h1>
            <ol type="1">
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avalidada</li>
                <li>Ótima localização</li>
            </ol>
        <hr>
        </div>
        <div class="principal-baixo">
            <h1>Objetivos</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam totam animi consectetur sunt quos! Aspernatur numquam saepe natus dolorum, 
            error expedita maxime voluptas adipisci tenetur similique. Quasi commodi atque alias! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum tenetur 
            veritatis deserunt accusamus fugiat adipisci? Obcaecati quisquam ipsum modi voluptas, incidunt et cupiditate ratione similique facilis? Mollitia porro modi vitae! Lorem ipsum dolor, sit amet consectet
            ur adipisicing elit. Mollitia est quia cumque deserunt assumenda dolor corrupti veniam quam magnam eveniet officiis voluptas nulla, corporis labore sint enim sunt? Similique, quae.</p>
        </div>
    </main>

{% endblock %}