{% extends "base.html" %}
{% block css %}href="{{url_for('static', filename='./css/users.css')}}"{% endblock %}
{% block titulo %}Users{% endblock %}
{% block conteudo %}
<br>
<div style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <table id="users" class="display">
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Assunto</th>
                <th>Descrição</th>
            </tr>
        </thead>

        {% for user in userDetails %}

        <tbody>
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
            </tr>
        </tbody>

        {% endfor %}

    </table>
</div>
{% endblock %}